.row
  .col-md-offset-5
    = will_paginate @yaks, renderer: BootstrapPagination::Rails
  - @yaks.each do |yak|
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body
            .col-md-1
              .row
                .container
                  = link_to(upvote_path(yak.id), html_options = {id: "upvote#{yak.id}", class: "upvote"})  do
                    %i.glyphicon.glyphicon-chevron-up
              .row
                .container
                  %h4{ :id => "score#{yak.id}", class: "score" }
                    /= yak.get_upvotes.size - yak.get_downvotes.size
                    = yak.cached_weighted_score
              .row
                .container
                  = link_to(downvote_path(yak.id), html_options = {id: "downvote#{yak.id}", class: "downvote"}) do
                    %i.glyphicon.glyphicon-chevron-down
            .col-md-11
              %h4
                = link_to yak.body, show_path(yak.id)
.row
  .col-md-offset-5
    = will_paginate @yaks, renderer: BootstrapPagination::Rails
