.row
  .col-md-offset-4
    = will_paginate @yaks, renderer: BootstrapPagination::Rails
  - @yaks.each do |yak|
    .row
      .col-md-8.col-md-offset-1
        .panel.panel-default
          .panel-body
            .col-md-1
              .row
                .container
                  = link_to(upvote_path(yak.id), html_options = {id: "upvote", class: "upvote"})  do
                    %i.glyphicon.glyphicon-chevron-up
              .row
                .container
                  %h4{ :id => "score", class: "score" }
                    = yak.get_upvotes.size - yak.get_downvotes.size
              .row
                .container
                  = link_to downvote_path(yak.id) do
                    %i.glyphicon.glyphicon-chevron-down
            .col-md-11
              %h4
                = link_to yak.body, show_path(yak.id)
.row
  .col-md-offset-4
    = will_paginate @yaks, renderer: BootstrapPagination::Rails
