!!!
%html
  %head
    %title Postr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-left
              %li
                = link_to 'Postr', root_path, html_options = {:class =>'navbar-brand'}
              %li
                = link_to 'Your Posts', my_yaks_path
              %li
                = link_to 'Top Posts', top_path('day')
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to new_path do
                  %i.glyphicon.glyphicon-pencil  New
    #main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              - if notice
                %p.alert.alert-success= notice
              - if alert
                %p.alert.alert-danger= alert
              = yield